html {
  /* margin: auto 100px; */
  background-color: rgb(242, 238, 238);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/**Hide Errors to Users**/
.xdebug-error {
  /* display: none; */
}

#banner {
  padding: 20px;
  background-color: white;
  border: 10px double #4EEFFD;
  box-shadow: 0px 0px 15px #000;
  margin: auto;
  width: 90%;
}


/****** Heading and Navigation ******/


header, footer {
  box-shadow: 0px 0px 15px #000;
}

#icon {
  float: left;
  padding: 10px 10px 10px 10px;
}

h1 {
  padding-left: 100px;
}

nav {
  background-color: #01A8B7;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav ul {
  border-top: 2px double #000;
  margin: 0;
  padding: 12px;
  text-align: center;
}

nav li {
  border-left: 2px solid #fff;
  display: inline;
  font-size: 110%;
  list-style-type: none;
  padding: 0 5%;
}

nav li:first-of-type {
  border-left: none;
}

nav a:hover {
  text-decoration: underline;
}

#reviews #nav-li li:nth-of-type(5) a {
  font-weight: bolder;
  /* color: #01464D; */
}

#home #nav-li li:nth-of-type(1) {
  font-weight: bold;
}

#gallery #nav-li li:nth-of-type(4) {
  font-weight: bold;
}

#trails #nav-li li:nth-of-type(2) {
  font-weight: bold;
}

#price #nav-li li:nth-of-type(3) {
  font-weight: bold;
}

#admin_home #nav-li li:nth-of-type(6) {
  font-weight: bold;
}

#nav-trigger {
  background-color: #01A8B7;
  color: #000;
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  text-align: center;
}

#nav-trigger,
#nav-checkbox {
  display: none;
}

#links {
  background-color: #4EEFFD;
  border-bottom: 2px double #000;
  padding: 5px 0;
  text-align: right;
}

#links a {
  color: #000;
  padding-right: 15px;
  text-decoration: none;
}

#links a:nth-of-type(2) {
  border-left: 2px solid #000;
  padding-left: 2%;
}

/****** Footer *****/
footer {
  background-color: #4EEFFD;
  border: 5px solid #01A8B7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  padding: 20px;
}

footer ul {
  padding-left: 0px;
}

footer li {
  list-style-type: none;
  padding: 5px;
}

footer a {
  color: #000;
  /* text-decoration: none; */
}

#cams {
  border-left: 5px dotted #01A8B7;
  text-align: center;
}

#resortLinks {
  text-align: center;
}

/****** Index ******/
h2 {
  background-color: #943E00;
  border-radius: 20px;
  color: #fff;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  width: 50%;
}

#intro {
  border-bottom: solid 1px #943E00;
  margin-top: 30px;
  padding-top: 5px;
}

#intro p {
  padding: 10px;
}

#resortDescriptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#resortDesc {
  background-color: #01A8B7;
  border: 2px solid #000;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px auto;
  padding: 30px;
}

#resortDesc h3 {
  grid-column: span 2;
  margin: 0;
}

#resortDesc p:first-of-type {
  border-bottom: 3px double #4EEFFD;
  grid-column: span 2;
  padding-bottom: 10px;
}

h3 {
  border-bottom: 3px double #4EEFFD;
  text-align: center;
}

/****** Trails ******/
/* ul ul {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* list-style: none; */
  /* padding: 20px; */
/* } */
.trailGrid:first-of-type {
  font-weight: bold;
}

.trailGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 2px dotted #01A8B7;
  text-align: center;
}

.trailGrid p {
  margin: 20px 0 0 0px;
}

.trailGrid p:nth-of-type(2) {
  text-transform: uppercase;
}

.trailGrid p:nth-of-type(3) {
  text-transform: capitalize;
}


/****** Prices ******/
.tabs {
  margin: 10px auto;
  padding-top: 20px;
  text-align: center;
}

#tab1, #tab2, #tab3, #tab4, #tab5 {
  background: #01A8B7;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: inline;
  margin: 0px 5px 0px 5px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

#tab1:hover, #tab2:hover, #tab3:hover, #tab4:hover, #tab5:hover {
  background: #4EEFFD;
}

#tab1Content, #tab2Content, #tab3Content, #tab4Content, #tab5Content {
  padding: 20px;
  border-radius: 10px;
}

#tab1Content {
 display: block; 
}

#tab2Content, #tab3Content, #tab4Content, #tab5Content {
 display: none; 
}

table, th, td {
  border: 3px solid #943E00;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

table {
  margin-bottom: 50px;
  padding: 20px;
  width: 100%;
}

#tables {
  margin: 20px auto;
}

caption {
  font-weight: bold;
  margin-bottom: 10px;
}

tr:nth-of-type(even) {
  background-color: rgb(242, 238, 238);
}

#otherTables {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;

}

#ages td,
#specials td,
#times td {
  text-align: left
}

/* #specials {
  margin-bottom: 50px;
} */

/****** Login ******/
#login {
  background-color: rgb(242, 238, 238);
  border: 10px double #4EEFFD;
  box-shadow: 0px 0px 15px #000;
  text-align: center;
  margin: 50px auto;
  padding: 30px 0px;
  width: 50%;
}

#login form{
  margin: 30px 0;
}

#login a {
  text-decoration: none;
}

input {
  border: 1px solid #000;
  margin: 10px;
  padding: 5px;
  width: 200px;
}

#submit, button, #toggle {
  background-color: #01A8B7;
  border-radius: 20px;
  color: #fff;
  margin-top: 20px;
  padding: 5px;
  width: 100px;
}

#failed {
  background-color: #01A8B7;
  border: 2px solid red;
  color: #01464D;
  font-size: 125%;
  font-weight: bolder;
  padding: 15px;
  /* text-align: center; */
  text-transform: uppercase;
}

/******* Registration ******/
button {
  width: 150px;
}

/****** Admin Home ******/
#membersTable {
  margin: 30px auto;
}

#toggleA {
  color: #fff;
  text-decoration: none;
}

/******** Admin Galley ********/
#alb {
  position: relative;
}

.delete_button {
  position: absolute;
  top: 200;
  right: 150;
  display: none;
}

.delete_button button {
  background-color: red;
}

/****** Gallery ******/
#posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

#alb {
  height: 350px;
  padding: 50px;
  width: 350px;
}

#alb img {
  box-shadow: 0px 0px 15px #000;
  height: 100%;
  width: 100%;
}

#alb p {
  margin: 0;
}

#postButton {
  background-color: #01A8B7;
  border: 1px solid #000;
  border-radius: 20px;
  color: #fff;
  margin-left: 50px;
  padding: 10px;
  text-decoration: none;
}

/****** Reviews *****/
.endReview {
  border-bottom: 3px solid #4EEFFD;
  padding-bottom: 15px;
}

/****** Responsive ******/
/****** 850 ******/
@media only screen and (max-width: 850px) {
  /* #tables {
    grid-template-columns: 1fr 1fr;
  } */

  #login {
    width: 70%;
  }
}

#not_signed {
  color: red;
}


/****** 800 ******/
@media only screen and (max-width: 800px) {
  #resortDescriptions {
    display: block;
    margin: 20px;
  }
}

/****** 650 ******/
@media only screen and (max-width: 650px) {
  #nav-trigger {
    display: block;
  }

  #nav-checkbox:checked + ul {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav li {
    display: block;
  }

  nav a {
    border-bottom: 2px solid #000;
    border-left: none;
    display: block;
  }
}

@media only screen and (max-width: 550px) {
  #tables {
    display: block;
  }

  #login {
    width: 90%;
  }
}





